.header {
    text-align: center;
    background: #33B5E5;
    color: #fff;
    padding: 1rem;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.separator {
    padding: 0 1em;
}
