<mat-card *ngIf="product" fxLayout="column" fxLayoutAlign="space-around center">
    <img class="product-image" [src]="product.url" [alt]="product.name + 'product'"/>
    <a [routerLink]="['/product/' + productId, {productId}]">{{product.name}}</a>
    <p>{{getPrice()}}</p>
    <mat-form-field appearance="fill">
        <mat-label>Number of items</mat-label>
        <mat-select>
            <mat-option *ngFor="let option of addToCartOptions" [value]="option">
                {{option}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary">Add to cart</button>
</mat-card>
