.product-container {
    margin-top: 3rem;
}

.product-image__thumbnail {
    list-style-type: none;
    width: 25vh;
    height: 35vh;
    padding: 1.5em;
    margin: 1em;
    border: 1px solid #33B5E5;
}

.product-image__full-view {
    border-radius: 10px;
    width: 320px;
}

a {
    text-decoration: none;
}

.back-link {
    margin-top: 1.2em;
}
